<!DOCTYPE html>
<html>

<head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>

<body ng-app="">

    Checkbox: <input type="checkbox" ng-model="mark" /> <br />

    <div>if: <input ng-if="mark" type="text"></div>
    <div>Read-only: <input ng-readonly="mark" type="text" value="this is readonly"></div>
    <div>Disabled: <input ng-disabled="mark" type="text" value="this is disabled"></div>
</body>

</html>

<!--  
OUTPUT 
===========
Click me: [x] 
if: [ ] >>new 
Read-only: [this is readonly]
Disabled: [this is disabled]
 -->